{% extends 'DBAOSiteBundle::layout.html.twig' %}

{# Déclaration du titre de la page, imprort des JS/CSS #}
{% block title %}{{ parent() }} - Clients{% endblock %}

{% block import %}
    <link rel="stylesheet" href="{{ asset('bundles/dbaosite/css/clients.css') }}" type="text/css" media="all" />
{% endblock %}

{% block titreHeader %}
CLIENTS
{% endblock %}

{# Corps de la page #}
{% block body %}
    <div class="phraseClient">
        nos clients contents
    </div>

    {% set i = 0 %}
    {% for c in client %}
        {% set i = i + 1 %}
        {% set j = i % 8 %}

        {% if j == 1 or j == 3 or j  == 5 or j == 7 %}
            <div class="client">
        {% elseif j == 2 or j == 6 %}
            <div class="client particulierUn">
        {% elseif j == 4 %}
            <div class="client particulierDeux">
        {% else %}
            <div class="client particulierTrois">
        {% endif %}
                <img src="/dbao_light_site/web/uploads/documents/{{ c.url }}"/>
                <div class="filtre"></div>
        </div>
    {% endfor %}
{% endblock %}
