{% extends 'DBAOSiteBundle::layout.html.twig' %}

{# Déclaration du titre de la page, imprort des JS/CSS #}
{% block title %}{{ parent() }} - Expertises{% endblock %}

{% block import %}
    <link rel="stylesheet" href="{{ asset('bundles/dbaosite/css/expertise.css') }}" type="text/css" media="all" />
{% endblock %}

{% block titreHeader %}
EXPERTISES
{% endblock %}

{% block body %}
    <div class="phraseExpertise">
        DONNER VIE AUX BONNES IDÉES
    </div>

    <div id="methodologie">Méthodologie</div>
    <div class="methode">
        <center><p class="nombre">1.</p></center>
        <p class="titreMethode">Découvrir</p>
        <p class="detailMethode">Vous rencontrer, vous écouter, vous comprendre.</p>
    </div>

    <div class="methode">
        <center><p class="nombre">2.</p></center>
        <p class="titreMethode">Définir</p>
        <p class="detailMethode">Statuer sur vos besoins, les anticiper.</p>
    </div>

    <div class="methode">
        <center><p class="nombre">3.</p></center>
        <p class="titreMethode">Planifier</p>
        <p class="detailMethode">Éstimer la durée, créer un retro-plannig.</p>
    </div>

    <div class="methode">
        <center><p class="nombre">4.</p></center>
        <p class="titreMethode">Designer & Développer</p>
        <p class="detailMethode">Beau, intuitif & fonctionnel... mais surtout opérationnel !</p>
    </div>

    <div class="methode">
        <center><p class="nombre">5.</p></center>
        <p class="titreMethode">Livrer</p>
        <p class="detailMethode">L’occasion de trinquer :)</p>
    </div>

    <div class="methode lastMethode">
        <center><p class="nombre">6.</p></center>
        <p class="titreMethode">Optimiser</p>
        <p class="detailMethode">Nous restons à vos cotés, près à faire évoluer notre projet.</p>
    </div>

    <div class="expertiseRubrique">
        <div id="expertise">
            <div id="rubrique_titre">Stratégie</div>

            <div class="expertiseCadre">
                <div id="logo" class="strategie"></div>

                <p class="accrocheExpertise">
                    Nous élaborons</br>
                    des univers cohérents...
                </p>

                <p class="texteExpertise">
                    ... en adéquation avec vous, avec votre
                    cible, pour une meilleure connivence entre
                    eux, et vous !
                </p>
            </div>
            <p class="motCleExpertise">Identité</p>
            <p class="motCleExpertise">Positionnement</p>
            <p class="motCleExpertise">Diffusion</p>
        </div>

        <div id="expertise" class="particulier">
            <div id="rubrique_titre">Design</div>

            <div class="expertiseCadre">
                <div id="logo" class="design"></div>

                <p class="accrocheExpertise">
                   Ecouter vos mots,</br>
                   pour communiquer sans !
                </p>

                <p class="texteExpertise">
                    Nous utilisons le design comme un outil
                    purement fonctionnel : la forme au  service
                    du fond, pour valoriser le message.
                </p>
            </div>

            <p class="motCleExpertise">Design Print</p>
            <p class="motCleExpertise">Webdesign</p>
            <p class="motCleExpertise">Aménagement de volumes</p>
        </div>

        <div id="expertise">
            <div id="rubrique_titre">Développement</div>

            <div class="expertiseCadre">
                <div id="logo" class="developpement"></div>

                <p class="accrocheExpertise">
                    L'architecture digitale</br>
                    multi-devices !
                </p>

                <p class="texteExpertise">
                    Nous maîtrisons aussi bien les toutes
                    dernières technologies, que l'ensemble
                    des problématiques liées au web.
                </p>
            </div>

            <p class="motCleExpertise">Back office</p>
            <p class="motCleExpertise">Référencement naturel</p>
            <p class="motCleExpertise">Hébergement</p>
        </div>

        <div id="expertise" style="margin-right: 0px; margin-bottom: 0px;">
            <div id="rubrique_titre">3D / Motion design</div>

            <div class="expertiseCadre">
                <div id="logo" class="motion"></div>

                <p class="accrocheExpertise">
                    Show the real...</br>
                    with the virtual !
                </p>

                <p class="texteExpertise">
                    Créez une immersion optimale, générez
                    une démarche participative en rendant
                    votre support interactif.
                </p>
            </div>

            <p class="motCleExpertise">3D</p>
            <p class="motCleExpertise">Animation</p>
            <p class="motCleExpertise">Motion design</p>
        </div>
    </div>
{% endblock %}
