/*****************************************************/
/***** CSS de l'accueil du site d'administration de DBAO *****/
/*****************************************************/

/******************************************************/
/* liste des rubriques modifiables du site DBAO */
/******************************************************/

#titre_rubrique {
    margin-top: 20px;
    font-size: 34px;
    color: #acec11;
    margin-bottom: 40px;
    height: 56px;
    line-height: 10px;
}

#rubrique
{
    height: 225px;
    width: 1030px;
    margin-bottom: 50px;
}

#cadre
{
    height: 200px;
    width: 250px;
    margin-right: 10px;
    float: left;
}

#cadre.particulier
{
    margin-right: 0px;
}

#rubrique_image
{
    height: 150px;
    background-color: #e7e7e7;
}

#rubrique_titre
{
    font-weight : bold;
    height: 25px;
    background-color: black;
    color: white;
    padding-left: 10px;
    line-height: 25px;
    vertical-align: middle;
    width: 240px;
}

#rubrique_description {
    height: 25px;
    color: #7c7c7c;
    border-bottom: 1px solid #c1c1c1;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 25px;
    width: 240px;
}

/******************************************************/
/* Liens d'accès */
/******************************************************/

#lien_acces
{
    display: inline-block;
    border-bottom: 1px solid #c1c1c1;
    padding-left: 10px;
    width: 240px;
    font-weight: normal;
    vertical-align: middle;
    height: 22px;
    text-decoration: none;
    color: #7c7c7c;
}

#lien_acces p
{
    color: #7bff00;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    display: inline;
    transition: font-size 0.25s, padding-left 0.25s;
}

#lien_acces:hover p
{
    font-size: 25px;
    padding-left: 10px;
}

#lien_acces:hover
{
    cursor: pointer;
}
