/*****************************************************/
/***** CSS de l'accueil du site d'administration de DBAO *****/
/*****************************************************/

/******************************************************/
/* liste des rubriques modifiables du site DBAO */
/******************************************************/

#client {
    width: 120px;
    height: 170px;
    margin-bottom: 50px;
    margin-right: 7px;
    display: inline-block;
}

#client_image {
    height: 120px;
    width: 120px;
    margin-bottom: -3px;
}

#titre_rubrique {
    margin-top: 70px;
    font-size: 34px;
    color: #acec11;
    margin-bottom: 40px;
    height: 56px;
    line-height: 10px;
}

/******************************************************/
/* Liens d'accès */
/******************************************************/

#lien_acces
{
    display: inline-block;
    border-bottom: 1px solid #c1c1c1;
    padding-left: 10px;
    width: 110px;
    font-weight: normal;
    vertical-align: middle;
    height: 22px;
    text-decoration: none;
    color: #7c7c7c;
}

#lien_acces p
{
    color: #7bff00;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    display: inline;
    transition: font-size 0.25s, padding-left 0.25s;
}

#lien_acces:hover p
{
    font-size: 25px;
    padding-left: 10px;
}

#lien_acces:hover
{
    cursor: pointer;
}
