/*****************************************************/
/***** CSS de l'accueil du site de DBAO *****/
/*****************************************************/

/******************************************************/
/* Slider de la page d'accueil */
/******************************************************/
@import url("animation.css") screen;

#mask {
	overflow:hidden;
	height:100%;
}

#slider ul {
	margin:0;
	padding:0;
	position:relative;
}

#slider li {
	position:absolute;
	right:-1030px;
	list-style:none;
}

#minSlider li {
	position:absolute;
	right:-250px;
	list-style:none;
}

#minSlider ul {
	margin:0;
	padding:0;
	position:relative;
}

.progress-bar { 
	position:relative;
	top:-3px;
    height:3px;
	background:#8ff100;
	z-index: 15;
}

@media (min-width: 1190px) {
    #slider li.firstanimation {
	    -moz-animation:cycle 25s linear infinite;	
	    -webkit-animation:cycle 25s linear infinite;
    }

    #slider li.secondanimation {
	    -moz-animation:cycletwo 25s linear infinite;
	    -webkit-animation:cycletwo 25s linear infinite;		
    }

    #slider li.thirdanimation {
	    -moz-animation:cyclethree 25s linear infinite;
	    -webkit-animation:cyclethree 25s linear infinite;		
    }

    #slider li.fourthanimation {
	    -moz-animation:cyclefour 25s linear infinite;
	    -webkit-animation:cyclefour 25s linear infinite;		
    }

    #slider li.fifthanimation {
	    -moz-animation:cyclefive 25s linear infinite;
	    -webkit-animation:cyclefive 25s linear infinite;		
    }
    
    #slider:hover li, 
    #slider:hover .progress-bar {
	    -moz-animation-play-state:paused;
	    -webkit-animation-play-state:paused;
    }

    /* PROGRESS BAR */
    .progress-bar { 
	    -moz-animation:fullexpand 25s ease-out infinite;
	    -webkit-animation:fullexpand 25s ease-out infinite;
    }
}

@media (min-width: 590px) and (max-width: 1189px) {
    #slider li.firstanimation {
	    -moz-animation:cycles 25s linear infinite;	
	    -webkit-animation:cycles 25s linear infinite;
    }

    #slider li.secondanimation {
	    -moz-animation:cycletwos 25s linear infinite;
	    -webkit-animation:cycletwos 25s linear infinite;		
    }

    #slider li.thirdanimation {
	    -moz-animation:cyclethrees 25s linear infinite;
	    -webkit-animation:cyclethrees 25s linear infinite;		
    }

    #slider li.fourthanimation {
	    -moz-animation:cyclefours 25s linear infinite;
	    -webkit-animation:cyclefours 25s linear infinite;		
    }

    #slider li.fifthanimation {
	    -moz-animation:cyclefives 25s linear infinite;
	    -webkit-animation:cyclefives 25s linear infinite;		
    }
    /* PROGRESS BAR */
    .progress-bar { 
	    -moz-animation:fullexpands 25s ease-out infinite;
	    -webkit-animation:fullexpands 25s ease-out infinite;
    }
}

@media (max-width: 589px) {
    #minSlider li.firstanimation {
	    -moz-animation:cycless 25s linear infinite;	
	    -webkit-animation:cycless 25s linear infinite;
    }

    #minSlider li.secondanimation {
	    -moz-animation:cycletwoss 25s linear infinite;
	    -webkit-animation:cycletwoss 25s linear infinite;		
    }

    #minSlider li.thirdanimation {
	    -moz-animation:cyclethreess 25s linear infinite;
	    -webkit-animation:cyclethreess 25s linear infinite;		
    }

    #minSlider li.fourthanimation {
	    -moz-animation:cyclefourss 25s linear infinite;
	    -webkit-animation:cyclefourss 25s linear infinite;		
    }

    #minSlider li.fifthanimation {
	    -moz-animation:cyclefivess 25s linear infinite;
	    -webkit-animation:cyclefivess 25s linear infinite;		
    }
    /* PROGRESS BAR */
    .progress-bar { 
	    -moz-animation:fullexpands 25s ease-out infinite;
	    -webkit-animation:fullexpands 25s ease-out infinite;
    }
}

#slider:hover li, 
#slider:hover .progress-bar {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

#minSlider:hover li, 
#minSlider:hover .progress-bar {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

.slideTitre { 
	width:1030px;
	height: 25px;
	background-color: black;
	color: white;
	padding-left: 10px;
    padding-top: 3px;
    font-weight: bold;
}

#slider img {
    margin-bottom: -3px;
}
    
#minSlider img {
    margin-bottom: -3px;
}

@media (min-width: 1190px) {
    #slider {
        width: 1030px;
        height: 350px;
    }

    #slider img {
        width: 1030px;
        height: 325px;
    }

    #minSlider
    {
        display: none;
    }

    .slideTitre
    {
        width: 1020px;
    }
}

@media (min-width: 590px) and (max-width: 1189px) {
    #slider {
        width: 510px;
        height: 185px;
    }

    #slider img {
        width: 510px;
        height: 160px;
    }

    #minSlider
    {
        display: none;
    }

    .slideTitre
    {
        width: 500px;
    }
}

@media (max-width: 589px) {
    #slider
    {
        display: none;
    }

    #minSlider {
        width: 250px;
        height: 185px;
    }

    #minSlider img {
        width: 250px;
        height: 160px;
    }

    .slideTitre
    {
        width: 240px;
    }
}

/******************************************************/
/* Liens accéder a toutes > */
/******************************************************/
#lien_acces
{
    color: #9bdb0e;
    font-weight: bold;
    padding-left: 5px;
    border-bottom: 0px;
}

#lien_acces.news
{
    display: inline-block;
    color: #96ce0f;
    border-bottom: 1px solid #c1c1c1;
    padding-left: 10px;
    width: 240px;
    font-weight: normal;
    vertical-align: middle;
    height: 22px;
}

/******************************************************/
/* Rubrique réalisation de la page d'accueil */
/******************************************************/
#realisation
{
    height: 200px;
    width: 250px;
    margin-right: 10px;
    float: left;
}

#realisation.droite
{
    margin-right: 0px;
}
    
div.realisationAccroche {
    height: 25px;
    color: #7c7c7c;
    border-bottom: 1px solid #c1c1c1;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 25px;
    width: 240px;
}

@media (min-width: 1190px) {

    div.realisationRubrique
    {
        height: 200px;
        width: 1030px;
        margin-bottom: 50px;
    }

    #realisation.droite
    {
        margin-left: 10px;
    }

}

@media (min-width: 590px) and (max-width: 1189px) {

    div.realisationRubrique
    {
        height: 440px;
        width: 510px;
        margin-bottom: 40px;
    }

    #realisation.gauche {
        margin-bottom: 40px;
    }

    #realisation.droite
    {
        margin-left: 0px;
    }
}

@media (max-width: 589px) {

    div.realisationRubrique
    {
        height: 440px;
        width: 290px;
        margin-bottom: 40px;
    }

    #realisation.gauche
    {
        margin-bottom: 40px;
    }

    #realisation.droite
    {
        display: none;
    }

}

/******************************************************/
/* Rubrique expertise de la page d'accueil */
/******************************************************/
#expertise
{
    height: 358px;
    width: 250px;
    margin-right: 10px;
    float: left;
}

#expertise_image
{
    height: 225px;
    background-color: #e7e7e7;
}

p.motCleExpertise
{
    height: 25px;
    font-size: 12px;
    color: #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 25px;
    width: 240px;
}

div.expertiseCadre
{
    height: 200px;
    margin-top: 50px;
    border-bottom: 1px solid #bfbfbf;
}

#logo
{
    width: 50px;
    height: 50px;
    background-color: white;
    float: left;
    margin-bottom: 50px;
    margin-left: 5px;
}

#logo.strategie
{
    background-image:url(../images/Picto_strategie.png);
}

#logo.design
{
    background-image:url(../images/Picto_design.png);
}

#logo.developpement
{
    background-image:url(../images/Picto_developpement.png);
}

#logo.motion
{
    background-image:url(../images/Picto_3Dmotion.png);
}

p.accrocheExpertise
{
    width: 185px;
    height: 50px;
    float: right;
    margin-bottom: 50px;
    vertical-align: middle;
    line-height: 22px;
    padding-left: 5px;
    font-family: 'open_sanscondensed_light';
    font-size: 22px;
}

p.texteExpertise
{
    height: 50px;
    font-size: 12px;
    text-align:justify;
    padding-left:10px;
    color: #999999;
    width: 230px;
    line-height: 18px;
}

@media (min-width: 1190px) {

    div.expertiseRubrique
    {
        height: 358px;
        width: 1030px;
        margin-bottom: 50px;
    }

}

@media (min-width: 590px) and (max-width: 1189px) {

    div.expertiseRubrique
    {
        height: 756px;
        width: 510px;
        margin-bottom: 40px;
    }

    #expertise {
        margin-bottom: 40px;
    }

    #expertise.particulier {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

@media (max-width: 589px) {

    div.expertiseRubrique
    {
        height: 1542px;
        width: 290px;
        margin-bottom: 40px;
    }

    #expertise
    {
        margin-bottom: 40px;
    }
    
    #expertise_particulier
    {
        margin-bottom: 40px;
    }

}

/******************************************************/
/* Rubrique news de la page d'accueil */
/******************************************************/
#news
{
    height: 300px;
    width: 250px;
    margin-right: 10px;
    float: left;
}

#news.deux
{
    margin-right: 0px;
}

#news.particulier
{
    margin-left: 10px;
    margin-right: 0px;
}

p.newsDescription
{
    margin-top: 29px;
    height: 42px;
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 29px;
    line-height: 14px;
    overflow: hidden;
    text-align:justify;
}

@media (min-width: 1190px) {

    #news_rubrique
    {
        height: 300px;
        width: 1030px;
        margin-bottom: 50px;
    }

}

@media (min-width: 590px) and (max-width: 1189px) {

    #news_rubrique
    {
        height: 640px;
        width: 510px;
        margin-bottom: 40px;
    }

    #news {
        margin-bottom: 40px;
    }

    #news.particulier {
        margin-left: 0px;
        margin-bottom: 0px;
    }

    #news.quatre
    {
        margin-left: 10px;
    }
}

@media (max-width: 589px) {

    #news_rubrique
    {
        height: 640px;
        width: 290px;
        margin-bottom: 40px;
    }

    #news
    {
        margin-bottom: 40px;
        margin-right: 0px;
    }
    
    #news.particulier
    {
        display: none;
    }
}
