  /************************************************/
 /***** CSS de la page contact du site de DBAO *****/
/************************************************/

  /************************/
 /* mise en page général */
/************************/
#page
{
    position: relative;
    z-index: 2;
}

#contenu
{
    padding-bottom: 50px;
}

  /**********************/
 /* en-tête de contact */
/**********************/
p.phraseNews
{
    font-family: 'open_sanscondensed_light';
    text-transform : uppercase;
    font-size: 40px;
    width: 100%;
}

  /*************************/
 /* block des coordonnées */
/*************************/
div.blockMap
{
    margin-top: 25px;
    background-color: black;
    color: white;
    height: 120px;
    float: right;
}

div.blockMapImage
{
    margin-top: 25px;
    background-image: url(../images/DBAO_black.jpg);
    background-repeat: no-repeat;
    height: 25px;
}

p.adresse
{
    float: left;
    display: inline-block;
    width: 165px;
    margin-top: 10px;
    margin-right: 21.5px;
}

p.contact
{
    float: left;
    display: inline-block;
    font-weight : bold;
    margin-top: 10px;
    width: 130px;
    margin-right: 21.5px;
}

a.mail
{
    background-image: url("../images/MAIL-cadre.png");
    background-repeat: no-repeat;
    margin-top: 8px;
    height: 32px;
    width: 172px;
    float: left;
}

  /****************/
 /* carte google */
/****************/
#map
{
    position: relative;
    z-index: 1;
    margin-left: -8px;
    margin-right: -8px;
    border-bottom: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
}

  /*********************************/
 /* responsive de la page contact */
/*********************************/
@media (min-width: 1190px) {
    p.phraseNews
    {
        padding-left: 520px;
    }

    div.blockMap
    {
        width: 675px;
    }

    div.blockMapImage
    {
        margin-left: 80px;
    }

    #map
    {
        margin-top: -50px;
    }

    p.adresse
    {
        margin-left: 80px;
    }
}

@media (min-width: 590px) and (max-width: 1189px) {
    div.blockMap
    {
        width: 595px;
    }

    #map
    {
        margin-top: -50px;
    }

    div.blockMapImage
    {
        margin-left: 40px;
    }

    p.adresse
    {
        margin-left: 40px;
    }
}

@media (max-width: 589px) {
    p.phraseNews
    {
        width: 200px;
    }

    div.blockMap
    {
        height: 189px;
    }

    div.blockMapImage
    {
        margin-left: 20px;
    }

    #map
    {
        display: none;
    }

    p.adresse
    {
        margin-left: 20px;
    }

    p.contact
    {
        margin-left: 20px;
    }
    
    a.mail
    {
        margin-left: 20px;
        margin-top: 10px;
    }

    #pied_de_page
    {
        margin-top: 239px;
    }
}
