/*****************************************************/
/***** CSS de l'accueil du site de DBAO *****/
/*****************************************************/

div.phraseExpertise
{
    font-family: 'open_sanscondensed_light';
    text-transform : uppercase;
    font-size: 40px;
    margin-bottom: 50px;
    width: 100%;
}

#methodologie {
    font-weight: bold;
    height: 25px;
    background-color: black;
    color: white;
    padding-left: 10px;
    line-height: 25px;
    vertical-align: middle;
    width: 100%;
}

.methode {
    width: 100%;
    height: 80px;
    border-bottom: solid 1px #bfbfbf;
}

.nombre {
    line-height: 80px;
    width: 60px;
    float: left;
    font-family: 'open_sanscondensed_light';
    font-size: 40px;
}

.titreMethode {
    float: left;
    font-family: 'open_sanscondensed_light';
    font-size: 25px;
    margin-top: 15px;
}

.detailMethode {
    float: left;
    font-family: Arial;
    color: #999999;
}

.lastMethode {
    margin-bottom: 100px;
}

@media (min-width: 1190px) {
    div.phraseExpertise
    {
        padding-left: 520px;
    }

    .titreMethode {
        width: 970px;
    }

    .detailMethode {
        width: 970px;
    }
}

@media (min-width: 590px) and (max-width: 1189px) {
    .titreMethode {
        width: 450px;
    }

    .detailMethode {
        width: 450px;
    }
}

@media (max-width: 589px) {
    .methode {
        height: 95px;
    }

    .titreMethode {
        width: 190px;
    }

    .detailMethode {
        width: 190px;
    }
}

/******************************************************/
/* Rubrique expertise de la page d'accueil */
/******************************************************/
#expertise
{
    height: 358px;
    width: 250px;
    margin-right: 10px;
    float: left;
    margin-top: 20px;
}

#expertise_image
{
    height: 225px;
    background-color: #e7e7e7;
}

p.motCleExpertise
{
    height: 25px;
    font-size: 12px;
    color: #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 25px;
    width: 240px;
}

div.expertiseCadre
{
    height: 200px;
    margin-top: 50px;
    border-bottom: 1px solid #bfbfbf;
}

#logo
{
    width: 50px;
    height: 50px;
    background-color: white;
    float: left;
    margin-bottom: 50px;
    margin-left: 5px;
}

#logo.strategie
{
    background-image:url(../images/Picto_strategie.png);
}

#logo.design
{
    background-image:url(../images/Picto_design.png);
}

#logo.developpement
{
    background-image:url(../images/Picto_developpement.png);
}

#logo.motion
{
    background-image:url(../images/Picto_3Dmotion.png);
}

p.accrocheExpertise
{
    width: 185px;
    height: 50px;
    float: right;
    margin-bottom: 50px;
    vertical-align: middle;
    line-height: 22px;
    padding-left: 5px;
    font-family: 'open_sanscondensed_light';
    font-size: 22px;
}

p.texteExpertise
{
    height: 50px;
    font-size: 12px;
    text-align:justify;
    padding-left:10px;
    color: #999999;
    width: 230px;
    line-height: 18px;
}

@media (min-width: 1190px) {

    #expertiseRubrique
    {
        height: 358px;
        width: 1030px;
        margin-bottom: 50px;
    }

}

@media (min-width: 590px) and (max-width: 1189px) {

    #expertiseRubrique
    {
        height: 756px;
        width: 510px;
        margin-bottom: 40px;
    }

    #expertise {
        margin-bottom: 40px;
    }

    #expertise.particulier {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

@media (max-width: 589px) {

    #expertiseRubrique
    {
        height: 1542px;
        width: 290px;
        margin-bottom: 40px;
    }

    #expertise
    {
        margin-bottom: 40px;
    }
    
    #expertise_particulier
    {
        margin-bottom: 40px;
    }
}
